<div style="margin-left: 30px;">

    <form>
        <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="setValue.full_name">
        </div>
        <div class="mb-3">
        <label for="age" class="form-label">Age</label>
        <input type="text" class="form-control" id="age" name="age"  [(ngModel)]="setValue.age">
        </div>
        <div class="mb-3">
            <label for="cr-id" class="form-label">Course id</label>
            <input type="text" class="form-control" id="cr-id" name="cr-id" [(ngModel)]="setValue.course_id">
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">Phone</label>
            <input type="text" class="form-control" id="phone" name="phone" [(ngModel)]="setValue.perent_phone">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <!-- <button class="btn btn-primary" (click)="creat()">Submit</button> -->
    </form>
</div>    